<%= form_tag author_path(@author), method: "patch" do %>

  <% if !@author.valid? %>
    
      <% @author.errors.full_messages.each do |e| %>
        <ul id='error_explanation' >
          <li><%= e %></li>
        </ul>
      <% end %>
    
  <% end %>
  
  <div class="field">
    <%= label_tag "name", "Name" %>
    <%= text_field_tag "name", @author.name %>
  </div>

  <div class="field">
    <%= label_tag "email", "Email" %>
    <%= text_field_tag "email", @author.email %>
  </div>

  <div class="field">
    <%= label_tag "phone_number", "Phone Number" %>
    <%= text_field_tag "phone_number", @author.phone_number %>
  </div>

  <%= submit_tag "Create" %>
<% end %>